@page "/"

<PageTitle>inż. Patryk Krawiec</PageTitle>




<div class="jumbotron">
  <h1 class="display-4">Gra milionerzy</h1>
  <p class="lead">Aplikacja ta została zrealizowana przy pomocy Blazor Server Side w .NET 6 przy użyciu języka C# </p>
  <hr class="my-4">
  <p>Aby zagrać z menu po lewej stronie proszę wybrać Gra jeżeli nie będzie wystarczająco dużo pytań w puli zostaniesz przeniesiony do menu dodawania pytań </p>
  <p class="font-italic">inż. Patryk Krawiec</p>
  <p class="lead">
  </p>
</div>


